// Reset
*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

// Selection styling
::-moz-selection {
    color: var(--secondary-color);
    background: var(--primary-color);
}

::selection {
    color: var(--secondary-color);
    background: var(--primary-color);
} 