// Typography
body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    font-weight: 500;
}

h3 {
    font-size: 14px;
    font-weight: 500;
}

p {
    font-size: 1rem;
    font-weight: 500;
}

a {
    transition: all 0.2s ease-in-out;
    color: var(--tertiary-color);
    text-decoration: none;
    font-weight: 700;
    color: var(--sky-900);
    
    &:hover,
    &:focus,
    &:active {
        color: var(--sky-700);
    }
}