// Fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

// Color variables
:root {
    --primary-color: black;
    --secondary-color: red;
    --sky-50: #F0F9FF;
    --sky-100: #E0F2FE;
    --sky-200: #BAE6FD;
    --sky-300: #7DD3FC;
    --sky-400: #38BDF8;
    --sky-500: #0EA5E9;
    --sky-600: #0284C7;
    --sky-700: #0369A1;
    --sky-800: #075985;
    --sky-900: #0C4A6E;
    --sky-950: #082F49;
    --slate-50: #F8FAFC;
    --slate-100: #F1F5F9;
    --slate-200: #E2E8F0;
    --slate-300: #CBD5E1;
    --slate-400: #94A3B8;
    --slate-500: #64748B;
    --slate-600: #6E7F95;
    --slate-700: #546378;
    --slate-800: #2E3847;
    --slate-900: #1A2028;
    --slate-950: #020617;
    --uno-blue: #01B3FF;
} 